@charset "utf-8";

/*============================================================
animation
============================================================*/
/* fade in
============================================================*/
.ani-fadein {
    opacity: 0;   
}
.ani-fadein.scrl-active {
    -webkit-animation: fadeIn .75s ease;
    -webkit-animation-fill-mode: forwards;
    animation: fadeIn .75s ease;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ani-fadein__up {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
}
.ani-fadein__up.scrl-active {
    -webkit-animation: fadeInUp .75s ease;
    -webkit-animation-fill-mode: forwards;
    animation: fadeInUp .75s ease;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2rem);
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2rem);
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.ani-fadein__down {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
}
.ani-fadein__down.scrl-active {
    -webkit-animation: fadeInDown .75s ease;
    -webkit-animation-fill-mode: forwards;
    animation: fadeInDown .75s ease;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2rem);
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2rem);
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/* fade out
============================================================*/
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* text
============================================================*/
.ani-txt {
    overflow: hidden;
    display: inline-block;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ani-txt__el {
    display: inline-block;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.ani-txt.scrl-active {
    -webkit-animation: txtFadeIn 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation: txtFadeIn 1.5s ease;
    animation-fill-mode: forwards;
}
.scrl-active .ani-txt__el {
    -webkit-animation: txtElFadeIn 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation: txtElFadeIn 1.5s ease;
    animation-fill-mode: forwards;
}
@-webkit-keyframes txtFadeIn {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes txtFadeIn {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes txtElFadeIn {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes txtElFadeIn {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/* image
============================================================*/
.ani-img {
    position: relative;
}
.ani-img::before,
.ani-img::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
.ani-img::before {
    left: 0;
    background-color: #550005;
}
.ani-img::after {
    right: 0;
    background-color: #6b1225;
}
.ani-img.scrl-active::before {
    width: 0;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.ani-img.scrl-active::after {
    width: 0;
}

/*============================================================
header
============================================================*/
header {
    position: relative;
    height: 4.5rem;
    letter-spacing: 0;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
    z-index: 100;
}
header.scrl-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* header logo
============================================================*/
.hd-logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 2.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 9.25rem;
    font-size: 0;
    z-index: 1;
}

@media screen and (max-width: 1199.98px) {
    .hd-logo {
        left: 15px;
    }
}
/* header navigation
============================================================*/
.hd-nav {
    position: relative;
    padding-right: 1.75rem;
}
.hd-nav-item {
    position: relative;
}
.hd-nav-menu {
    display: block;
    padding: 1.85rem 1.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}
.hd-nav-submenu-wrap {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 10rem;
    padding-top: 1.5rem;
    text-align: center;
    z-index: 1;
}
.hd-nav-submenu {
    display: inline-block;
    position: relative;
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 0.8rem;
}
.hd-nav-submenu .ico {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -1.75rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.25rem;
    vertical-align: middle;
}

/* 1025 label 수정 추가 */
.lang-change > a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lang-change .hd-nav-submenu-wrap {
    min-width: auto;
}
/* //1025 label 수정 추가 */

@media screen and (min-width: 1376px) {
    .hd-nav.active::after {
        content: "";
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
        height: 13rem;
        background-color: #fcfcfc;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
    .hd-nav-menu:hover {
        font-weight: 700;
    }
    .hd-nav-submenu {
        transform: color .35s ease;
    }
    .hd-nav-submenu:hover {
        font-weight: 700 !important;
        color: #760023;
    }
}
@media screen and (max-width: 1375.98px) {
    .hd-nav {
        overflow: auto;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: -webkit-fill-available;
        background-color: #fcfcfc;
    }
    .hd-nav-wrap {
        position: relative;
        margin: 10rem auto;
    }
    .hd-nav-wrap > ul {
        display: block;
    }
    .hd-nav-item {
        text-align: center;
    }
    .hd-nav-menu {
        font-size: 1.9rem;
    }
    .hd-nav-submenu-wrap {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        padding-top: 0;
        min-width: initial;
    }
    .hd-nav-submenu {
        padding: 1.25rem 0;
        font-size: 1.5rem;
        color: #666;
    }
    .hd-nav-submenu .ico {
        right: -2.5rem;
        width: 2rem;
        height: 2rem;
    }

    /* 1025 label 수정 추가 */
    .lang-change a img {
        width: 40px;
    }
    /* //1025 label 수정 추가 */
}
/* full navigation
============================================================*/
.full-nav-tgl-btn {
    display: none;
}
@media screen and (max-width: 1375.98px) {
    .full-nav-tgl-btn {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0;
        width: 32px;
        height: 23px;
        background-color: transparent;
        cursor: pointer; /* for iOS click issue */
        z-index: 1;
    }
    .full-nav-tgl-btn .bar {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 0;
        width: 68.75%;
        height: 3px;
        background-color: #000;
    }
    .full-nav-tgl-btn::before,
    .full-nav-tgl-btn::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        -webkit-transition: top .15s ease, transform .15s ease;
        transition: top .15s ease, transform .15s ease;
    }
    .full-nav-tgl-btn::before {
        top: 0;
    }
    .full-nav-tgl-btn::after {
        top: 20px;
    }
    .full-nav-tgl-btn.active::before,
    .full-nav-tgl-btn.active::after {
        top: 10px;
    }
    .full-nav-tgl-btn.active .bar {
        opacity: 0;
    }
    .full-nav-tgl-btn.active::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .full-nav-tgl-btn.active::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/*============================================================
footer
============================================================*/
/* footer navigation
============================================================*/
.ft-nav {
    padding: 2.25rem 0 3.5rem;
    background-color: #353535;
}
.ft-menu {
    width: 17.5%;
}
.ft-menu__tit {
    display: block;
    padding: 0 0 1rem;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
    color: #fff;
    background-color: transparent;
}
.ft-menu__link {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.7rem;
    color: #666;
}
.ft-sns-menu {
    width: 12.5%;
    text-align: center;
}
.ft-sns-menu__tit {
    display: block;
    padding-bottom: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #aeaeae;
}
.ft-sns-menu__link {
    display: block;
    margin-top: 0.5rem;
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.6rem;
    line-height: 2rem;
    color: #999;
    background-color: #3f3f3f;
    border-radius: 1rem;
}
.ft-sns-menu__ico {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1.5rem;
    opacity: 0.7;
    vertical-align: middle;
}

@media screen and (max-width: 575.98px) {
    .ft-nav {
        padding: 3.5rem 0;
    }
    .ft-menu-list {
        display: block;
    }
    .ft-menu {
        width: 100%;
    }
    .ft-menu + .ft-menu {
        padding-top: 3rem;
    }
    .ft-menu__tit {
        padding-bottom: 0;
        font-size: 1.3rem;
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url("../images/common/footer-menu-tit-unfold-arw.png");
        background-size: 0.9rem;
        -webkit-tap-highlight-color: transparent;
    }
    .ft-menu__tit.active {
        background-image: url("../images/common/footer-menu-tit-fold-arw.png");
    }
    .ft-menu__tit + ul {
        display: none;
    }
    .ft-menu__link {
        margin-top: 2rem;
        font-size: 1.2rem;
    }
    .ft-sns-menu {
        padding-top: 3rem;
        width: 100%;
        text-align: left;
    }
    .ft-sns-menu__tit {
        display: none;
    }
    .ft-sns-menu ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .ft-sns-menu li {
        width: 48%;
    }
    .ft-sns-menu__link {
        height: 3.5rem;
        font-size: 1.2rem;
        line-height: 3.5rem;
        text-align: center;
        border-radius: 2rem;
    }
    .ft-sns-menu__ico {
        margin-right: 1rem;
        width: 2rem;
    }
}
/* footer information
============================================================*/
.ft-info {
    padding: 3.5rem 0;
}
.ft-info-wrap__lt {
    position: relative;
    padding-left: 3rem;
}
.ft-info-wrap__rt {
    padding-top: 0.85rem;
}
.ft-logo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 2rem;
}
.ft-info-txt__row + .ft-info-txt__row {
    padding-top: 0.5rem;
}
.copyright {
    padding-top: 1.25rem;
}
.ft-info-txt {
    display: inline-block;
    position: relative;
    font-size: 0.7rem;
}
.ft-info-txt + .ft-info-txt {
    padding-left: 0.75rem;
    margin-left: 0.75rem;
}
.ft-info-txt + .ft-info-txt::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 0.5rem;
    background-color: #d2d2d2;
}
.ft-info-btn {
    display: inline-block;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    color: #666;
    border-bottom: 1px solid #d2d2d2;
}
.familysite {
    display: inline-block;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    margin-left: 2.5rem;
    font-size: 0.7rem;
    line-height: normal;
    width: 9.5rem;
    background: #f6f6f6 url('../images/common/footer-familysite-arw.png') no-repeat center right 1rem;
    background-size: 0.5rem;
}

@media screen and (max-width: 991.98px) {
    .ft-info-wrap {
        justify-content: flex-start;
    }
    .ft-info-wrap__lt,
    .ft-info-wrap__rt {
        width: 100%;
    }
    .ft-info-wrap__rt {
        padding-top: 1.25rem;
        padding-left: 5.75rem;
    }
}
@media screen and (max-width: 575.98px) {
    .ft-info-txt {
        display: block;
        font-size: 1rem;
        line-height: 1.4;
    }
    .ft-info-txt + .ft-info-txt {
        padding-left: 0;
        margin-left: 0;
    }
    .ft-info-txt + .ft-info-txt::before {
        display: none;
    }
    .ft-info-wrap__rt {
        padding-top: 2rem;
    }
    .ft-info-btn {
        font-size: 1rem;
    }
    .familysite {
        display: block;
        margin-top: 1.5rem;
        margin-left: 0;
        padding: 1rem 3.5rem 1rem 2rem;
        font-size: 1rem;
        width: 100%;
        background-position: center right 2rem;
        background-size: 1rem;
    }
}

/*============================================================
button
============================================================*/
.paging-btn-wrap {
    padding-top: 4rem;
    text-align: center;
}
.paging-btn { 
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    min-width: 7.5rem;
    font-weight: 500;
    line-height: 1 !important;
    text-align: center;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3rem;
    vertical-align: top;
}
.paging-btn .label {
    display: inline-block;
    position: relative;
    padding-right: 2.5rem;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('../images/news/data-view-btn-arw-black.png');
    background-size: 2rem;
}
.paging-btn.plum {
    border-color: #760023;
}
.paging-btn.plum .label {
    color: #fff;
    background-image: url('../images/news/data-view-btn-arw-white.png');
}

@media screen and (min-width: 1200px) {
    .paging-btn {
        -webkit-transition: box-shadow .35s ease;
        transition: box-shadow .35s ease;
    }
    .paging-btn:hover {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }
    .paging-btn.plum:hover {
        box-shadow: 0 0 0.5rem rgba(118, 0, 35, 0.5);
    }
}
@media screen and (max-width: 575.98px) {
    .paging-btn {
        padding: 1.5rem 2rem;
        min-width: 12rem;
    }
}

/*============================================================
modal
============================================================*/
html.full {
    overflow: hidden;
}
.modal-area {
    overflow: auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
.modal-wrap__rlt {
    position: relative;
    margin: 10rem auto;
}
.modal-wrap__abs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.close-modal-btn {
    position: absolute;
}
.close-modal-btn::before,
.close-modal-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}
.close-modal-btn:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.close-modal-btn:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*============================================================
movie
============================================================*/
.cmn-movie-frame {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    background-color: #000;
}
.cmn-movie-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cmn-movie-thumb {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

/*============================================================
form
============================================================*/
.form-row {
    padding-top: 1rem;
}
.form-row .col3 {
    width: 30%;
}
.form-label {
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}
[class*="form-el__"] {
    display: block;
    font-size: 1rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}
.form-el__input {
    padding: 0 1rem;
    height: 2.75rem;
    line-height: 2.75rem;
}
.form-el__txtarea {
    padding: 1rem;
    height: 11rem;
    line-height: 1.6;
}
.form-el__txtfield {
    overflow-y: scroll;
    padding: 1rem;
    height: 11rem;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}

.form-chk input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
}
.form-chk-label {
    display: inline-block;
    position: relative;
    padding-left: 1.5rem;
    font-size: 0.8rem;
    user-select: none;
    cursor: pointer;
}
.form-chk-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 100%;
}
.form-chk input[type="checkbox"]:focus + .form-chk-label::before,
.form-chk input[type="checkbox"]:hover + .form-chk-label::before {
    /* outline: 2px solid -webkit-focus-ring-color;
    outline-offset: 0; */
    box-shadow: 0 0 0 2px #000;
}
.form-chk input[type="checkbox"]:checked + .form-chk-label::before {
    background: #760023 url('../images/common/form-checked-ico.png') no-repeat center;
    background-size: 100%;
    border-color: #760023;
}

@media screen and (max-width: 575.98px) {
    .form-row {
        padding-top: 2rem;
    }
    .form-row [class^="col"] {
        width: 100%;
    }
    .form-row [class^="col"] + [class^="col"] {
        padding-top: 2rem;
    }
    .form-label {
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }
    [class*="form-el__"] {
        font-size: 1.4rem;
    }
    .form-el__input {
        height: 4rem;
        line-height: 4rem;
    }
    .form-chk-label {
        padding-left: 2.5rem;
        font-size: 1.2rem;
    }
    .form-chk-label::before {
        width: 1.75rem;
        height: 1.75rem;
    }
}

/*============================================================
scroll top button
============================================================*/
#sclTopBtn {
    display: inline-block;
    position: absolute;
    bottom: 5rem;
    right: 10%;
    padding: 0;
    width: 2.1rem;
    height: 2.1rem;
    background: #fff url('../images/common/scroll-top-btn.png') no-repeat center;
    background-size: 100%;
}
#sclTopBtn.scrl-active {
    position: fixed;
}

@media screen and (max-width: 1199.98px) {
    #sclTopBtn  {
        bottom: 3rem;
        right: 15px;
        width: 2.75rem;
        height: 2.75rem;
    }
}
@media screen and (max-width: 991.98px) {
    #sclTopBtn {
        display: none;
    }
}

/*============================================================
sub page common element
============================================================*/
/* sub header
============================================================*/
.sub-hd {
    padding: 3rem 0;
    text-align: center;
    color: #fff;
    background: url("../images/common/sub-header-bg.jpg") no-repeat center top;
    background-size: cover;
}
.sub-hd-menu {
    display: block;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}
.sub-hd-tit {
    font-size: 1.9rem;
}

@media (max-width: 575.98px) {
    .sub-hd-menu {
        font-size: 1.3rem;
    }
    .sub-hd-tit {
        font-size: 2.3rem;
    }
}
/* sub common font size
============================================================*/
.fs32__tit {
    font-size: 1.6rem;
    line-height: 1.3;
}
.fs30__tit {
    font-size: 1.5rem;
    line-height: 1.3;
}
.fs28__tit {
    font-size: 1.4rem;
}
.fs26__tit {
    font-size: 1.3rem;
}
.fs24__tit {
    font-size: 1.2rem;
}
.fs22__tit {
    font-size: 1.1rem;
    line-height: 1.4;
}
.fs20__tit {
    font-size: 1rem;
    line-height: 1.4;
}
.fs18__tit {
    font-size: 0.9rem;
}

.fs28__txt {
    font-size: 1.4rem;
}
.fs24__txt {
    font-size: 1.2rem;
}
.fs26__txt {
    font-size: 1.3rem;
    line-height: 1.4;
}
.fs22__txt {
    font-size: 1.1rem;
    line-height: 1.45;
}
.fs20__txt {
    font-size: 1rem;
    line-height: 1.5;
}
.fs18__txt {
    font-size: 0.9rem;
    line-height: 1.5;
}
.fs16__txt {
    font-size: 0.8rem;
    line-height: 1.6;
}
.fs15__txt {
    font-size: 0.75rem;
    line-height: 1.6;
}

@media screen and (max-width: 576.98px) {
    .fs32__tit {
        font-size: 2rem;
    }
    .fs30__tit {
        font-size: 2rem;
    }
    .fs26__tit {
        font-size: 1.8rem;
    }
    .fs24__tit {
        font-size: 1.7rem;
    }
    .fs22__tit {
        font-size: 1.6rem;
    }
    .fs20__tit {
        font-size: 1.4rem;
    }
    .fs18__tit {
        font-size: 1.3rem;
    }

    .fs28__txt {
        font-size: 1.8rem;
    }
    .fs26__txt {
        font-size: 1.7rem;
    }
    .fs24__txt {
        font-size: 1.6rem;
    }
    .fs22__txt {
        font-size: 1.5rem;
    }
    .fs20__txt {
        font-size: 1.4rem;
        line-height: 1.6;
    }
    .fs18__txt {
        font-size: 1.3rem;
        line-height: 1.5;
    }
    .fs16__txt {
        font-size: 1.2rem;
    }
    .fs15__txt {
        font-size: 1.1rem;
    }
}
/* sub common article
============================================================*/
.sub-cmt-article {
    padding: 5rem 0;
}