@charset "utf-8";

.ani-fadein,
.ani-fadein__up,
.ani-fadein__down {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}
.ani-txt,
.ani-txt__el {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.research-article {
    padding: 5rem 0;
}

/*============================================================
연구주제
============================================================*/
/* 리스트 화면
============================================================*/
.subt-list-article {
    background: url('../images/research/subject-list-bg-img.jpg') no-repeat center bottom;
    background-size: cover;
}
.subt-list-hd {
    padding-top: 2rem;
    text-align: center;
}
.subt-list-hd .ani-txt,
.subt-list-hd .ani-txt__el {
    -wekbit-animation-delay: .5s;
    animation-delay: .5s;
}
.subt-list-hd-tit {
    font-size: 2.1rem;
    line-height: 1.4;
}
.subt-list-hd-tit small {
    display: block;
    font-size: 1.6rem;
}
.subt-list-hd-tit mark {
    position: relative;
    display: inline-block;
    background-color: transparent;
}
.subt-list-hd-tit mark::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
}
.subt-list-hd-tit mark span {
    position: relative;
    z-index: 1;
}
.subt-list-wrap {
    position: relative;
    padding: 14rem 2.25rem 2rem;
    height: 25rem;
}
.subt-list {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
}
.subt-list-item {
    margin-top: 1.5rem;
    margin-right: 1.875%;
    width: 18.5%;
}
.subt-list-item:last-child {
    margin-right: 0;
}
.subt-list-link {
    overflow: hidden;
    display: block;
    padding: 1.25rem 0;
    height: 8rem;
    text-align: center;
    background-color: #fff;
    border-top: 3px solid #760023;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.subt-list-idx {
    position: relative;
    display: inline-block;
    padding-bottom: 1.5rem;
}
.subt-list-idx::after {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 0.5rem;
    background-color: #666;
}
.subt-list-btn {
    display: inline-block;
    padding: 8px 1rem;
    margin-top: 0.75rem;
    font-size: 0.7rem;
    color: #e1cccf;
    background-color: rgba(43, 0, 4, 0.3);
    border-radius: 2rem;
    opacity: 0;
}

@media screen and (min-width: 1200px) {
    .subt-list-link {
        -webkit-transition: height .25s, color .25s, background-color .25s;
        transition: height .25s, color .25s, background-color .25s;
    }
    .subt-list-link:hover {
        height: 10rem;
        color: #fff;
        background-color: #760023;
    }
    .subt-list-link:hover .subt-list-idx {
        color: #fff !important;
    }
    .subt-list-link:hover .subt-list-idx::after {
        background-color: #fff;
    }
    .subt-list-link:hover .subt-list-btn {
        opacity: 1;
    }
}
@media screen and (max-width: 575.98px) {
    .subt-list-wrap {
        padding: 3rem 0 0;
        height: auto;
    }
    .subt-list-hd {
        padding-top: 0;
    }
    .subt-list {
        position: relative;
        bottom: auto;
        left: auto;
    }
    .subt-list-item {
        margin-right: 0;
        width: 100%;
    }
    .subt-list-link {
        position: relative;
        padding: 2.5rem 2rem;
        height: auto;
        text-align: left;
    }
    .subt-list-idx {
        padding-right: 1.5rem;
        padding-bottom: 0;
        vertical-align: middle;
    }
    .subt-list-idx::after {
        display: none;
    }
    .subt-list-tit {
        display: inline-block;
        vertical-align: middle;
    }
    .subt-list-btn {
        position: absolute;
        top: 50%;
        right: 2rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 0;
        font-size: 1.1rem;
        color: #fff;
        background-color: #760023;
        opacity: 1;
    }
}
/* 상세 보기 화면
============================================================*/
.subt-view-hd {
    text-align: center;
}
.subt-view-hd figure {
    position: relative;
    height: 18rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/research/subject-view-hd-bg.png'); /* 이미지가 관리자에서 등록된다면 인라인으로 변경 */
}
.subt-hd-view-info {
    -webkit-animation-delay: .35s !important;
    animation-delay: .35s !important;
}
.subt-view-hd-tit {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    font-weight: 300;
    font-size: 2.1rem;
    color: #fff;
}
.subt-hd-view-info {
    position: relative;
    padding: 3.5rem 1rem 2.5rem;
    margin: -5rem auto;
    max-width: 43.5rem;
    background-color: #fff;
}
.subt-hd-view-info__txt {
    padding-top: 1.25rem;
    color: #666;
}
.subt-view-cont {
    position: relative;
    padding-top: 6rem;
    margin-top: 5rem;
}
.subt-view-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 0;
    background-color: #000;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}
.scrl-active.subt-view-cont::before {
    height: 6rem;
}
.subt-view-list-item {
    padding-top: 2rem;
}
.subt-view-list-link {
    padding: 2.5rem 3.5rem;
    border: 1px solid #eaeaea;
}
.subt-view-list-thumb {
    width: 6rem;
    text-align: center;
}
.subt-view-list-thumb__img {
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    background: #eaeaea url('../images/research/subject-view-list-thumb-bg.png') no-repeat center;
    background-size: 100%;
    border-radius: 100%;
}
.subt-view-list-thumb__btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem auto 0;
    line-height: 1;
    color: #a3bbc2;
    border: 1px solid #a3bbc2;
    border-radius: 2rem;
}
.subt-view-list-info {
    padding-left: 1.5rem;
    width: calc(100% - 6rem);
}
.subt-view-list-info dd {
    padding-top: 1rem;
    color: #666;
}
.subt-view-list-info dd small {
    display: block;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5;
    color: #760023;
}

@media screen and (min-width: 1200px) {
    .subt-view-list-link {
        -webkit-transition: transform .35s ease, box-shadow .35s ease;
        transition: transform .35s ease, box-shadow .35s ease;
    }
    .subt-view-list-thumb__btn {
        -webkit-transition: color .35s, background-color .35s;
        transition: color .35s, background-color .35s;
    }
    .subt-view-list-link:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        box-shadow: 0 5px 0 #f7f7f7;
    }
    .subt-view-list-link:hover .subt-view-list-thumb__btn {
        color: #fff;
        background-color: #a3bbc2;
    }
}
@media screen and (max-width: 575.98px) {
    .subt-view-hd-tit {
        font-size: 2.6rem;
    }
    .subt-hd-view-info {
        margin: 0 auto;
    }
    .subt-view-cont {
        margin-top: 0;
    }
    .subt-view-list-link {
        padding: 3.5rem 2rem;
        box-shadow: 0 5px 0 #f7f7f7;
    }
    .subt-view-list-thumb,
    .subt-view-list-info {
        width: 100%;
    }
    .subt-view-list-thumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subt-view-list-thumb__img {
        width: 8rem;
        height: 8rem;
    }
    .subt-view-list-thumb__btn {
        padding: 0.75rem 1.5rem;
        margin: 0;
    }
    .subt-view-list-info {
        padding-top: 2rem;
        padding-left: 0;
    }
    .subt-view-list-info dd small {
        padding-top: 1rem;
        font-size: 1.1rem;
    }
}

/*============================================================
연구소 소개
============================================================*/
[class*="lab-cont__"] {
    position: relative;
    padding-left: 3.5rem;
}
[class*="lab-cont__"] dd {
    position: relative;
    padding-top: 2.5rem;
    margin-top: 3.5rem;
    line-height: 1.7;
    color: #666;
}
[class*="lab-cont__"] dd::before {
    content: "";
    position: absolute;
    top: 0;
    width: 4rem;
    height: 1px;
    background-color: #000;
}
[class*="lab-cont__"] dd p + p {
    padding-top: 0.5rem;
}
[class*="lab-cont__"] dd small {
    color: #999;
}
[class*="lab-cont__"] .ani-fadein__up {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.lab-cont-tit {
    display: block;
    padding-top: 2rem;
}
.lab-cont-info {
    padding-top: 1rem;
    color: #a3bbc2;
}
.lab-cont__row dd::before {
    left: 0;
}
.lab-cont__col dt {
    width: 35%;
}
.lab-cont__col dd {
    padding-left: 3.5rem;
    width: 65%;
}
.lab-cont__col dd::before {
    left: 3.5rem;
}
#labKirbs dd {
    margin-top: 11.5rem;
}
#labPsybsr {
    padding-top: 15rem;
    margin-top: -7.5rem;
    background: url('../images/research/lab-psybsr-bg-img.jpg') no-repeat center;
    background-attachment: fixed;
}
#labKumh dl {
    padding-top: 2.5rem;
    padding-left: calc(40% + 3.5rem);
}
#labKumh figure {
    position: absolute;
    top: 0;
    left: 3.5rem;
    width: calc(40% - 3.5rem);
}

@media screen and (min-width: 1200px) {
    .lab-cont-info a:hover {
        border-bottom: 1px solid #a3bbc2;
    }
}
@media screen and (max-width: 991.98px) {
    #labPsybsr {
        background-position: center right 35%;
    }
}
@media screen and (max-width: 575.98px) { 
    [class*="lab-cont__"] {
        padding-left: 0;
    }
    .lab-cont__col dt {
        width: 100%;
    }
    .lab-cont__col dd {
        padding-left: 0;
        width: 100%;
    }
    .lab-cont__col dd::before {
        left: 0;
    }
    #labKirbs dd {
        margin-top: 3.5rem;
    }
    #labPsybsr {
        background: url('../images/research/lab-psybsr-bg-mo-img.jpg') no-repeat top right;
    }
    #labKumh dl {
        padding-top: 0;
        padding-left: 0;
    }
    #labKumh figure {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }
}