<!Doctype html>
<html lang="ko">

<head>
    <title>People | ABOUT | 고려대학교 심리학부</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_zOoOe">
    <meta name="keywords" content="">
    <meta name="description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고려대학교 심리학부">
    <meta property="og:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="고려대학교 심리학부">
    <meta name="twitter:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
    <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
    <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
    <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/about.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <!-- <li>
                                    <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                                </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="researchSubject.html" class="hd-nav-submenu">Subjects</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="hd-nav-submenu">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NOTICE</a>
                        <!-- <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a> -->
                        <ul class="hd-nav-submenu-wrap">
                            <!-- <li>
                                    <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                                </li> -->
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <!-- <li>
                                    <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                                </li>
                                <li>
                                    <a href="archive.html" class="hd-nav-submenu">Archives</a>
                                </li>
                                <li>
                                    <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                                </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item lang-change">
                        <a href="javascript:void(0);" class="hd-nav-menu"><img src="../../content/images/common/lang-changes.png" alt="언어변경 아이콘"></a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 영문">EN</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 한글">KR</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
    <!-- about START -->
    <section id="aboutPeople">
        <div class="sub-hd">
            <div class="grid1170">
                <span class="efw500 sub-hd-menu">ABOUT</span>
                <h2 class="efw700 sub-hd-tit">People</h2>
            </div> <!-- //grid -->
        </div> <!-- //sub header -->
        <div class="sub-cmt-article">
            <div class="grid1170">
                <div class="ani-fadein people-hd__view">
                    <a href="javascript:void(0);" class="people-view-arw__prev"><img
                            src="../../content/images/about/people-view-prev-arw.png" alt="이전 교수 상세 소개 페이지 이동 화살표"></a>
                    <div class="flex-box">
                        <div class="people-list-thumb__prof"></div>
                        <dl class="people-list-info">
                            <dt>
                                <span class="fs15__txt people-list-info__ctg">문화 및 사회심리학 전공</span>
                                <p class="fs28__txt people-list-info__name"><strong>박선웅</strong> <small
                                        class="fw500 fs20__txt fc__plum">부교수</small></p>
                            </dt>
                            <dd>
                                <span class="fw500 fs18__txt people-list-info__research_label">연구분야</span>
                                <p class="fs15__txt">Self, Materialism, Narcissism, Growth Motivation, Agency &
                                    Communion</p>
                            </dd>
                        </dl>
                    </div>
                    <a href="javascript:void(0);" class="people-view-arw__next"><img
                            src="../../content/images/about/people-view-next-arw.png" alt="다음 교수 상세 소개 페이지 이동 화살표"></a>
                </div> <!-- //교수진 상세 소개 타이틀 -->
                <!-- 1027 label 수정 eng 클래스 추가 -->
                <div class="people-cont-wrap__view eng">
                    <div class="ani-fadein flex-box flex-spc__btw people-cont">
                        <div class="people-cont__lt">
                            <ul class="people-anchor-menu">
                                <li>
                                    <button class="people-anchor-btn active" data-anchor="peopleViewInfo">기본 정보</button>
                                </li>
                                <li>
                                    <button class="people-anchor-btn" data-anchor="peopleViewAcademy">Educational Background</button>
                                </li>
                                <li>
                                    <button class="people-anchor-btn" data-anchor="peopleViewCareer">Career and Awards</button>
                                </li>
                                <li>
                                    <!-- 1027 label 수정 -->
                                    <button class="people-anchor-btn" data-anchor="peopleViewSubject">Undergraduate and<br> Graduate Courses</button>
                                </li>
                                <li>
                                    <button class="people-anchor-btn" data-anchor="peopleViewBook">Book Chapter</button>
                                </li>
                                <li>
                                    <button class="people-anchor-btn" data-anchor="peopleViewThesis">Research Papers</button>
                                </li>
                            </ul> <!-- //교수진 상세 소개 앵커 -->
                        </div>
                        <div class="people-cont__rt">
                            <dl class="people-anchor people-view" id="peopleViewInfo">
                                <dt><strong class="fw400 fs24__tit people-view-tit">기본 정보</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">최종학위</span>
                                            <p class="people-view-info__ctg-txt">사회 및 성격심리</p>
                                        </li>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">사무실</span>
                                            <p class="people-view-info__ctg-txt">서울시 성북구 안암로 145 인문계 캠퍼스 라이시움 310호</p>
                                        </li>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">홈페이지</span>
                                            <p class="people-view-info__ctg-txt"><a
                                                    href="https://sites.google.com/site/sunwoongpark" target="_blank"
                                                    title="해당 홈페이지로 이동하기 (새 창 이동)">https://sites.google.com/site/sunwoongpark</a>
                                            </p>
                                        </li>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">이메일</span>
                                            <p class="people-view-info__ctg-txt"><a href="mailto:sunwpark@korea.ac.kr"
                                                    title="이메일 보내기 (새 창 이동)">sunwpark@korea.ac.kr</a></p>
                                        </li>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">전화번호</span>
                                            <p class="people-view-info__ctg-txt">02-3290-2868</p>
                                        </li>
                                        <li class="flex-box people-view-info__item">
                                            <span class="people-view-info__ctg">사진</span>
                                            <div class="people-view-info__ctg-txt"><img
                                                    src="../../content/images/about/people-view-photo.png" alt="교수 사진">
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="people-anchor people-view" id="peopleViewAcademy">
                                <dt><strong class="fw400 fs24__tit people-view-tit">학력</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">2013, Ph.D. in Psychology,
                                            Northeastern University</li>
                                        <li class="flex-box people-view-info__item">2009, M.A. in Psychology, University
                                            of Dayton</li>
                                        <li class="flex-box people-view-info__item">1998, B.A. in Philosophy, Yonsei
                                            Universit</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="people-anchor people-view" id="peopleViewCareer">
                                <dt><strong class="fw400 fs24__tit people-view-tit">경력 및 수상</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">2019.2 ~ present - 고려대학교 부교수
                                            Associate Professor, Korea University</li>
                                        <li class="flex-box people-view-info__item">2014. 3 ~2019.2 - 고려대학교 조교수
                                            Assistant Professor, Korea University</li>
                                        <li class="flex-box people-view-info__item">2013. 8 ~2013.12 - 센터칼리지 방문조교수
                                            Visiting Assistant Professor, Centre College</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="people-anchor people-view" id="peopleViewSubject">
                                <dt><strong class="fw400 fs24__tit people-view-tit">학부,대학원 담당과목</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">Undergraduate</li>
                                        <li class="flex-box people-view-info__item">Introduction to Psychology</li>
                                        <li class="flex-box people-view-info__item">Social Psychology</li>
                                        <li class="flex-box people-view-info__item">Social Behavior and Individual
                                            Differences</li>
                                        <li class="flex-box people-view-info__item">Developmental Psychology</li>
                                        <li class="flex-box people-view-info__item">Personality</li>
                                        <li class="flex-box people-view-info__item">Interpersonal Relationships</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="people-anchor people-view" id="peopleViewBook">
                                <dt><strong class="fw400 fs24__tit people-view-tit">단행본</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">Korean translation of Campbell, W.
                                            K. (2005). When you love a man who loves himself<br>: How to deal with a
                                            one-way relationship. Chicago, IL: Sourcebooks Casablanca.</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="people-anchor people-view" id="peopleViewThesis">
                                <dt><strong class="fw400 fs24__tit people-view-tit">연구논문</strong></dt>
                                <dd class="fs16__txt people-view-info">
                                    <ul>
                                        <li class="flex-box people-view-info__item">Park, S. W., & Colvin, C. R. (in
                                            press).<br><b class="fw400">Narcissism and discrepancy between self and
                                                friends' perceptions of personality. Journal of Personality.</b></li>
                                        <li class="flex-box people-view-info__item">Bauer, J. J., Park, S. W., Montoya,
                                            R. M., & Wayment, H. A. (in press).<br><b class="fw400">Growth motivation
                                                toward two paths of eudaimonic self-development. Journal of Happiness
                                                Studies.</b></li>
                                        <li class="flex-box people-view-info__item">Park, S. W., & Brown, C. M.
                                            (2014).<br><b class="fw400">Different perceptions of self-handicapping
                                                across college and work contexts. Journal of Applied Social Psychology,
                                                44, 124-132.</b></li>
                                        <li class="flex-box people-view-info__item">Park, S. W., Ferrero, J., Colvin, C.
                                            R., & Carney, D. R. (2013).<br><b class="fw400">Narcissism and negotiation:
                                                Economic gain and interpersonal loss. Basic and Applied Social
                                                Psychology, 35, 569-574.</b></li>
                                        <li class="flex-box people-view-info__item">Park, S. W., Bauer, J. J., &
                                            Arbuckle, N. B. (2009).<br><b class="fw400">Growth motivation attenuates the
                                                self-serving attribution. Journal of Research in Personality, 43,
                                                914-917.</b></li>
                                        <li class="flex-box people-view-info__item">박선웅 (2013).<br><b class="fw400">여자는
                                                왜 나쁜 남자에게 끌리는가. 갈매나무. Korean translation of Campbell, W. K.
                                                (2005).<br>When you love a man who loves himself: How to deal with a
                                                one-way relationship. Chicago, IL: Sourcebooks Casablanca.</b></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div> <!-- //교수진 상세 소개 리스트 -->
                <div class="paging-btn-wrap">
                    <a href="aboutPeople.html" class="fs16__txt paging-btn"><span class="label">목록</span></a>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //People -->
        <button id="sclTopBtn"><span class="txt-hidden">페이지 최상단으로 이동하기</span></button>
    </section>
    <!-- //about END -->
    <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <!-- <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <a href="researchSubject.html" class="ft-menu__link">Subjects</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="ft-menu__link">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NOTICE</button>
                        <ul>
                            <li>
                                <a href="notice.html" class="ft-menu__link">Notice</a>
                            </li>
                            <!-- <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">
                                Old Building Room 109, Korea University Law Building, 145 Anam-ro, Seongbuk-gu, Seoul,<br>
                                02841, Republic of Korea 
                            </span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/sub.js"></script>
</body>

</html>