<!Doctype html>
<html lang="ko">

<head>
    <title>심리학 소개 | ABOUT | 고려대학교 심리학부</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_zOoOe">
    <meta name="keywords" content="">
    <meta name="description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고려대학교 심리학부">
    <meta property="og:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="고려대학교 심리학부">
    <meta name="twitter:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
    <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
    <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
    <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link href="../../content/styles/swiper.min.css" rel="stylesheet">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/about.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <!-- <li>
                                    <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                                </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchSubject.html" class="hd-nav-submenu">Subjects</a>
                            </li>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchLab.html" class="hd-nav-submenu">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NOTICE</a>
                        <!-- <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a> -->
                        <ul class="hd-nav-submenu-wrap">
                            <!-- <li>
                                    <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                                </li> -->
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <!-- <li>
                                    <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                                </li>
                                <li>
                                    <a href="archive.html" class="hd-nav-submenu">Archives</a>
                                </li>
                                <li>
                                    <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                                </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
    <!-- about START -->
    <section class="lightgrey" id="aboutPsy">
        <div class="sub-hd">
            <div class="grid1170">
                <span class="efw500 sub-hd-menu">ABOUT</span>
                <h2 class="sub-hd-tit">The Research Institutes</h2>
            </div> <!-- //grid -->
        </div> <!-- //sub header -->
        <div class="white sub-cmt-article">
            <div class="pt0 pb0 scrl-anchor psy-story-wrap">
                <div class="grid1170">
                    <figure class="ani-img"><img src="../../content/images/about/psychology-interview-img.png"
                            alt="심리학의 오해 콘텐츠 배경 이미지"></figure>
                    <dl class="psy-interview ani-fadein__down">
                        <dt class="fw600__serif fs24__tit">The misconception of Psychology</dt>
                        <dd>
                            <p class="fw400__serif fs18__txt">Before entering the psychology department, which
                                belongs<br>
                                to the Liberal Arts College, I expected to learn social<br> psychology and counseling
                                psychology techniques, but at first, I was embarrassed<br> because I had to study nerve
                                cells and brain areas as well.</p>
                            <small class="fw400__serif fs16__txt">Year of 2015 Lee,OO </small>
                        </dd>
                    </dl>
                </div>
            </div> <!-- //심리학의 오해 -->
            <div class="scrl-anchor psy-story-wrap">
                <div class="flex-box flex-align__cnt psy-meaning">
                    <figure class="ani-fadein"><img src="../../content/images/about/psychology-meaning-img.png"
                            alt="심리학의 의미 콘텐츠 배경 이미지"></figure>
                    <dl>
                        <dt class="fw500 fs32__tit">
                            <p class="ani-txt"><span class="ani-txt__el">Psychology is</span></p>
                        </dt>
                        <dd class="ani-fadein__up">
                            <!-- 1025 label 수정 -->
                            <p class="fs22__txt"><b class="fw500 fc__plum">Psychology is the science of behavior and the mind</b> and is based on knowledge of the humanities, Social problems, and natural sciences. It is a discipline that provides the most objective standard for understanding humans.</p>
                        </dd>
                    </dl>
                </div>
            </div> <!-- //심리학의 의미 -->
            <div class="scrl-anchor psy-story-wrap">
                <figure class="psy-talent__tree"><img src="../../content/images/about/psychology-talent-tree.png"
                        alt="심리학 인재 나무 이미지"></figure>
                <div class="psy-talent">
                    <dl>
                        <dt class="fw500 fs32__tit">
                            <!-- 1025 label 수정 -->
                            <p class="ani-txt fw500"><span class="ani-txt__el"></span>The future society wants talented people who can provide creative and
                                <br><b class="fw500 fc__plum">scientific solutions to social problems </b> in various fields.</span></p>
                        </dt>
                        <dd class="ani-fadein__up">
                            <!-- 1025 label 수정 -->
                            <p class="fc__grey fs18__txt">As a response to the demands of the future and the problems at hand,<br> the curriculum has been changed from an academic-oriented curriculum to a social problem-centered one.
                            </p>
                        </dd>
                    </dl>
                </div>
            </div> <!-- //심리학의 의미 -->
        </div> <!-- //심리학 소개 -->
        <div class="scrl-anchor sub-cmt-article" style="background-color: #dfe5ec;">
            <div class="grid1170">
                <h3 class="fs30__tit psy-edu-tit ani-fadein">Psychology training to solve the challenges of future
                    society
                </h3>
                <ul class="flex-box psy-edu">
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <img src="../../content/images/about/psychology-education-ai-ico.png" alt="AI 아이콘"
                            class="psy-edu-ico">
                        <strong class="efw700 fs22__tit">AI</strong>
                        <p class="fs16__txt">As new social and ethical issues emerge as AI development accelerates, an
                            understanding and proactive response to the role and interaction of humans and AI are
                            needed.</p>
                    </li>
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <img src="../../content/images/about/psychology-education-unite-ico.png" alt="융합 아이콘"
                            class="psy-edu-ico">
                        <strong class="fs22__tit">Fusion</strong>
                        <p class="fs16__txt">An educational system is needed for convergent talents who pursue expertise
                            through a multidisciplinary approach that crosses the boundaries between academic fields.
                        </p>
                    </li>
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <img src="../../content/images/about/psychology-education-global-ico.png" alt="다양성 아이콘"
                            class="psy-edu-ico">
                        <strong class="fs22__tit">Diversity</strong>
                        <p class="fs16__txt">In order to play a leading role in the process of rapid
                            internationalization and technological development, it is necessary to cultivate the ability
                            to generate new ideas and understand the phenomenon in multiple ways..
                        </p>
                    </li>
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <img src="../../content/images/about/psychology-education-bulb-ico.png" alt="지속가능성 아이콘"
                            class="psy-edu-ico">
                        <strong class="fs22__tit">Continuous possibilities</strong>
                        <p class="fs16__txt">For the sustainable development of future society, there is a need for a
                            solution that promotes harmonious prosperity and growth of individuals, organizations, and
                            the environment, not just the strategy of delaying the depletion of resources.</p>
                    </li>
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <img src="../../content/images/about/psychology-education-phone-ico.png" alt="소통 아이콘"
                            class="psy-edu-ico">
                        <strong class="fs22__tit">Communication</strong>
                        <p class="fs16__txt">Communication skills to effectively communicate one's thoughts and
                            arguments to others and the ability to empathize with others' emotions are needed for social
                            adaptation and harmony..
                        </p>
                    </li>
                    <li class="ani-seq ani-fadein__up psy-edu-item">
                        <p class="fw300 fs26__txt">The curriculum centered on the traditional academic system is
                            dismantled, and the curriculum centered on an innovative social theme is transformed into a
                            reorganization.
                        </p>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </div> <!-- //심리학 교육 -->
        <div class="white scrl-anchor sub-cmt-article">
            <div class="grid1170">
                <h3 class="ani-fadein fw500 fs30__tit psy-ctg-tit"><span class="txt-break__mo">Introducing the
                        specialized areas of full-time faculty<br> members in the Department of Psychology.</h3>
                <ul class="flex-box ani-fadein psy-ctg-tab-list">
                    <li>
                        <a href="javascript:void(0);" title="전문 영역 전체 보기" class="psy-ctg-tab active"
                            data-psyctg="psy-ctg__all" data-psycolor="#fff">All areas</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Mind & Machine 전문 영역 보기" class="psy-ctg-tab"
                            data-psyctg="psy-ctg__mind" data-psycolor="#dfe5ec">Mind&amp;Machine</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Schema & Scale 전문 영역 보기" class="psy-ctg-tab"
                            data-psyctg="psy-ctg__schema" data-psycolor="#e7e0d8">Schema&amp;Scale</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Creativity & Culture 전문 영역 보기" class="psy-ctg-tab"
                            data-psyctg="psy-ctg__creat" data-psycolor="#ede5e8">Creativity&amp;Culture</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Wisdom & Wellbeing 전문 영역 보기" class="psy-ctg-tab"
                            data-psyctg="psy-ctg__wisdom" data-psycolor="#e7d2c4">Wisdom&amp;Wellbeing</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Leadership & Link 전문 영역 보기" class="psy-ctg-tab"
                            data-psyctg="psy-ctg__leader" data-psycolor="#ced2d0">Leadership&amp;Link </a>
                    </li>
                </ul>
                <div class="flex-box flex-spc__cnt ani-fadein psy-ctg-tag-wrap">
                    <span class="psy-ctg-tag psy-ctg__mind psy-ctg__schema">AI</span>
                    <span class="psy-ctg-tag psy-ctg__mind psy-ctg__creat">New media</span>
                    <span class="psy-ctg-tag psy-ctg__mind psy-ctg__wisdom">Ethics</span>
                    <span class="psy-ctg-tag psy-ctg__mind psy-ctg__leader">UX/Ergonomics</span>
                    <span class="psy-ctg-tag psy-ctg__schema psy-ctg__creat">Creativity</span>
                    <span class="psy-ctg-tag psy-ctg__schema psy-ctg__wisdom">Development</span>
                    <span class="psy-ctg-tag psy-ctg__schema psy-ctg__leader">Personality</span>
                    <span class="psy-ctg-tag psy-ctg__creat psy-ctg__wisdom">Emotion</span>
                    <span class="psy-ctg-tag psy-ctg__creat psy-ctg__leader">Judgement</span>
                    <span class="psy-ctg-tag psy-ctg__wisdom psy-ctg__leader">Communication</span>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //전임교원 전문 영역 -->
        <div class="scrl-anchor sub-cmt-article">
            <div class="flex-box psy-faculty">
                <div class="psy-faculty-desc">
                    <div class="psy-faculty-desc__box">
                        <p class="ani-fadein__up fs18__txt">Psychology is divided into several more sub-fields, and the
                        </p>
                        <h3 class="ani-txt fw500 fs22__txt"><span class="ani-txt__el">Korean Psychological<br>
                                Association consists of <b class="fw700 fc__plum">15 sub-divisions.</b></span></h3>
                    </div>
                </div>
                <div class="ani-fadein psy-faculty-slide">
                    <div class="psy-faculty-slide-wrap">
                        <div class="swiper-container" id="psyFacultySwiper">
                            <div class="swiper-wrapper eng">
                                <div class="swiper-slide">
                                    <a href="http://www.kcp.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Clinical<br> Psychology</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://krcpa.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link"><img
                                            src="../../content/images/about/psychology-faculty-kcpa-logo.png"
                                            alt="한국상담심리학회 로고" class="psy-faculty-logo">Counseling<br> Psychology</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://www.ksiop.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Industrial &<br> Organizational<br> Psychology</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://www.ksppa.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Society &<br> Personality<br> Psychology</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://www.baldal.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Developmental<br> Psychology</a>
                                </div>
                                <div class="swiper-slide">
                                    <!-- 1025 label 수정 -->
                                    <a href="http://cogpsych.jams.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Cognitive and<br> biological<br> psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://www.kpacsi.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Cultural &<br> Social<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://www.kscap.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Consumer<br> Advertising<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://www.healthpsy.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Health<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://kswp.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Women’s<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://www.schoolpsych.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Educational<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://kapl.jams.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Legal<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://www.addictpsy.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Addiction<br> Psychology
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="http://kspma.or.kr" target="_blank" title="새 창 이동"
                                        class="psy-faculty-link">Educational<br> measurement<br> Psychology
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <button class="swiper-button-next" id="psyFacultySwiperNext"><span class="txt-hidden">다음 슬라이드로
                                이동하기</span></button>
                        <button class="swiper-button-prev" id="psyFacultySwiperPrev"><span class="txt-hidden">이전 슬라이드로
                                이동하기</span></button>
                    </div>
                    <div class="psy-faculty-slide-el">
                        <div class="efw400 psy-faculty-slide-count"><b class="efw700 fc__plum">1</b>/14</div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination" id="psyFacultySwiperPaging"><span class="txt-hidden">한국심리학회 분과
                                슬라이드 페이징</span></div>
                        <p>※ The links above will direct you to the homepage of that department.</p>
                    </div>
                </div>
            </div>
        </div> <!-- //한국심리학괴 분과구성 -->
        <button id="sclTopBtn"><span class="txt-hidden">페이지 최상단으로 이동하기</span></button>
    </section>
    <!-- //about END -->
    <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <!-- <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchSubject.html" class="ft-menu__link">Subjects</a>
                            </li>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchLab.html" class="ft-menu__link">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NOTICE</button>
                        <ul>
                            <li>
                                <a href="notice.html" class="ft-menu__link">Notice</a>
                            </li>
                            <!-- <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">
                                <!-- 1025 label 수정 -->
                                Old Building Room 109, Korea University Law Building, 145 Anam-ro, Seongbuk-gu, Seoul,<br>
                                 02841, Republic of Korea 
                            </span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
    <script src="../../content/scripts/swiper.min.js"></script>
    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/sub.js"></script>
    <script>
        var psyFacultySwiper = new Swiper('#psyFacultySwiper', {
            slidesPerView: 'auto',
            loop: true,
            initialSlide: 0,
            pagination: {
                el: '#psyFacultySwiperPaging',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '#psyFacultySwiperNext',
                prevEl: '#psyFacultySwiperPrev',
            },
            on: {
                slideChangeTransitionEnd: function () {
                    var thisRealIndex = this.realIndex;

                    $('.psy-faculty-slide-count').html('<b class="efw700 fc__plum">' + (thisRealIndex + 1) +
                        '</b>' + '/' + '14');
                }
            }
        });
    </script>
</body>

</html>