<!Doctype html>
<html lang="ko">

<head>
    <title>Career | EDUCATION | 고려대학교 심리학부</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_zOoOe">
    <meta name="keywords" content="">
    <meta name="description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고려대학교 심리학부">
    <meta property="og:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="고려대학교 심리학부">
    <meta name="twitter:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
    <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
    <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
    <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">

    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/education.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <!-- 21 09 01 네이블 수정 Psychology
                                    Undergraduate program -> School of Psychology -->
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <li>
                                <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="researchSubject.html" class="hd-nav-submenu">Research areas</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="hd-nav-submenu">Research center</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                            </li>
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <li>
                                <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="hd-nav-submenu">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
    <!-- about START -->
    <section id="career">
        <div class="sub-hd">
            <div class="grid1170">
                <span class="efw500 sub-hd-menu">EDUCATION</span>
                <h2 class="efw700 sub-hd-tit">Career</h2>
            </div> <!-- //grid -->
        </div> <!-- //sub header -->
        <div class="sub-cmt-article">
            <div class="grid1170">
                <div class="career-hd">
                    <div class="ani-txt">
                        <div class="ani-txt__el">
                            <h3 class="fw500 fs32__tit career-hd-tit">Graduates of the Department of Psychology at Korea
                                University are</h3>
                            <p class="fs18__txt career-hd-txt">active in various professions, including industry,
                                education, public enterprises, hospitals, counseling institutions, and research
                                institutes. </p>
                        </div>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //커리어 소개 -->
        <div class="lightgrey scrl-anchor sub-cmt-article">
            <div class="grid1170">
                <ul class="flex-box flex-spc__cnt flex-align__btm career-figure-list">
                    <li class="ani-seq ani-fadein__up career-figure-item__lt">
                        <figure><img src="../../content/images/education/career-diagram.png"
                                alt="고려대학교 심리학부 졸업생 활동 산업군 다이어그램 : 기업 및 산업계 61%, 교육계 14%, ... 7%, 병원 및 상담 5%, 언론 및 미디어 분야 4%, 법률계 3%, 연구소 3%, 정치계 1%, 종교계 1%, 기타 1%">
                        </figure>
                    </li>
                    <li class="ani-seq ani-fadein__up career-figure-item__rt">
                        <figure><img src="../../content/images/education/career-graph.png"
                                alt="고려대학교 심리학부 졸업생 활동 기업군 그래프 : 일반기업 59%, 금융기업 18%, 컨설팅/리서치 11%, 자영업 5%, 보험업 6%">
                        </figure>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </div> <!-- //커리어 통계 -->
        <div class="pt0 scrl-anchor sub-cmt-article">
            <div class="grid1170">
                <ul class="flex-box career-interview-list">
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-05.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">
                            “Start-ups start
                            with solving the inconvenience of everyday life. From psychology, I was able to learn
                            what people are uncomfortable with and how to think in terms of consumers.”
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Mun Ju Lee,
                                Year 07
                            </b><br>Cookat CEO
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-06.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">Investigation begins with an
                            understanding of a person's behavior.
                            There is nothing irrelevant from what can be learned from Psychology.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Jin Jae Heo
                                (’87 Undergraduate)
                            </b><br>Director Gallup Korea
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-01.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">Creativity is one of the hypothesis. "If
                            you make it like this, it will react like this.“ Creators need to elaborate hypotheses. The
                            design needs to be structured. So, you have to pick up meaningful results. I learned all
                            these competencies from the Department of Psychology at Korea University.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Il Ho Lee (’95
                                Undergraduate)
                            </b><br>Head of Creative Division, INNOCEAN Worldwide
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-09.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">Curiosity during my undergraduate and
                            graduate courses in cognitive processing that arose between the stimulus and reaction has
                            led to my interest in the device user experience (UX).
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Soo Min Kim
                                (‘11 Undergraduate, ’13 Master)</b><br>LG Electronics MC Business Division UX Room
                            Researcher
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-03.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">“In a situation where At-home work is
                            increasing, would it be possible to increase the sense of belonging to the group and build a
                            trusting relationship between the team leader and team members? In the process of solving
                            problems related to “people,” in these situations, basics in psychology seems to aid in
                            producing better results by focusing on the “interest in people and the scientific
                            approach.”
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Sang Hyun Sohn,
                                Psychology year 02</b><br>SKTelecom Base Office work Culture team lead
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-04.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">The interest in people's minds and
                            behaviors through psychology and the ‘psychological’ worldview that can interpret them is a
                            great help not only for understanding and finding solutions to customer problems, but also
                            for the overall implementation of those solutions within the organization.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Yae Chan Ahn,
                                Psychology year 05</b><br>Maersk Korea Continuous Improvement Specialist
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-07.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">I wanted to systemically help people
                            through practical meetings, not books, and I was able to have such experiences in advance
                            through practice at the Korea University Student Counseling Institute.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Jeong Hye Eom
                                (’12 Masters)
                            </b><br>Sogang University Student Life Counseling Research Institute Resident Counselor
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-02.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">The undergraduate course instilled a
                            dream of becoming a clinical psychologist who understands and changes the human mind. In the
                            master's course, knowledge and practice in clinical psychology were instilled through
                            clinical training, field experience as a clinical psychology expert, and Ph.D. Through my
                            education and research activities, my dream of becoming a clinical psychologist has been
                            fulfilled. The belief in human growth potential, professional competence and ethical
                            awareness, and a sense of responsibility for our society, became an important foundation for
                            me to work as a clinical psychologist at the central institution of national mental health.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Won Hae Lee
                                (‘96 Undergraduate, ’98 Masters, ‘09 PhD)
                            </b><br>Director of Clinical Psychology, National Center for Mental Health
                        </small>
                    </li>
                    <li class="ani-seq ani-fadein__down career-interview-item">
                        <div class="career-interview-thumb"><img
                                src="../../content/images/education/career-interview-thumb-08.png" alt="졸업생 썸네일 이미지">
                        </div>
                        <p class="fw400__serif fs18__txt career-interview-txt">Currently, I am in charge of non-clinical
                            animal behavior experiments for the development of new drugs, and studying psychology seems
                            to be the basis for developing the ability to analyze the “behavior” of humans and animals
                            in depth.
                        </p>
                        <small class="fw400__serif fs16__txt career-interviewer"><b class="fw600__serif">Min Hee Bang
                                (‘06 Undergraduate, ’08 Masters)
                            </b><br>SK Biopharm Senior Researcher
                        </small>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </div> <!-- //졸업생 인터뷰 -->
        <button id="sclTopBtn"><span class="txt-hidden">페이지 최상단으로 이동하기</span></button>
    </section>
    <!-- //about END -->
    <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <!-- 21 09 01 네이블 수정 Psychology
                                    Undergraduate program -> School of Psychology -->
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of
                                    Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <a href="researchSubject.html" class="ft-menu__link">Research areas</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="ft-menu__link">Research center</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NEWS&amp;EVENT</button>
                        <ul>
                            <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">02841 Room No 109, Old Building,
                                Korea University Law School,<br>
                                145 Anam-ro, Seongbuk-gu, Seoul</span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/sub.js"></script>
</body>

</html>