<!Doctype html>
<html lang="ko">
    <head>
        <title>교육목표 | EDUCATION | 고려대학교 심리학부</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="">
        <meta name="description" content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

        <meta property="og:type" content="website">
        <meta property="og:title" content="고려대학교 심리학부">
        <meta property="og:description" content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="고려대학교 심리학부">
        <meta name="twitter:description" content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
        <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
        <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
        <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
        <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/education.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <!-- <li>
                                    <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                                </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchSubject.html" class="hd-nav-submenu">Subjects</a>
                            </li>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchLab.html" class="hd-nav-submenu">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NOTICE</a>
                        <!-- <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a> -->
                        <ul class="hd-nav-submenu-wrap">
                            <!-- <li>
                                    <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                                </li> -->
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <!-- <li>
                                    <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                                </li>
                                <li>
                                    <a href="archive.html" class="hd-nav-submenu">Archives</a>
                                </li>
                                <li>
                                    <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                                </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item lang-change">
                        <a href="javascript:void(0);" class="hd-nav-menu"><img src="../../content/images/common/lang-changes.png" alt="언어변경 아이콘"></a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 영문">EN</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 한글">KR</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
        <!-- about START -->
        <section id="goal">
            <div class="sub-hd">
                <div class="grid1170">
                    <span class="efw500 sub-hd-menu">EDUCATION</span>
                    <!-- 1027 label 수정 -->
                    <h2 class="sub-hd-tit">Goals</h2>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmt-article">
                <div class="grid1170">
                    <div class="goal-hd">
                        <div class="ani-txt scrl-active">
                            <div class="ani-txt__el scrl-active">
                                <h3 class="fw600__serif fs42__tit goal-hd-tit">KU School of Psychology Vision Statement</h3>
                                <!-- 1027 label 수정 -->
                                <p class="fw400__serif fs24__txt goal-hd-txt"><span class="fc__plum">Korea University School of Psychology </span>Vision Statement<br><span class="txt-break__mo">Korea University’s School of Psychology aims to cultivate talents who can take </span> creative and flexible approaches to challenges and new problems for the future <br>society through convergence education based on the multidisciplinary <br>foundation of psychology.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //교육목표 타이틀 -->
            <div class="pt30 scrl-anchor sub-cmt-article goal-inst-article">
                <div class="grid1170">
                    <figure class="ani-fadein"><img src="../../content/images/education/goal-visual-img.png" alt="심리학부 교육목표 소개 이미지"></figure>
                    <div class="flex-box goal-inst-list">
                        <dl class="goal-inst-item__lt ani-seq ani-fadein__down">
                            <dt class="goal-inst-hd">
                                <img src="../../content/images/education/goal-logo-humanku.png" alt="Human KU" class="logo">
                            </dt>
                            <dd class="goal-inst-cont">
                                <!-- 1027 label 수정 -->
                                <p class="fw500 fs18__txt fc__plum">A major curriculum based on <br>professional competency focusing on creativity and convergence</p>
                                <strong class="fw400 fs24__txt">Establishment of an education <br>platform to foster innovation</strong>
                            </dd>
                        </dl> <!-- //KU -->
                        <dl class="goal-inst-item__rt ani-seq ani-fadein__down">
                            <dt class="goal-inst-hd">
                                <img src="../../content/images/education/goal-logo-psy.png" alt="Korea University School of Psychology" class="logo">
                            </dt>
                            <dd class="goal-inst-cont">
                                <!-- 1027 label 수정 -->
                                <p class="fw500 fs18__txt fc__plum">A hub of multidisciplinary,<br>convergence education</p>
                                <strong class="fw400 fs24__txt">Competency-oriented education that can creatively solve problems
                                    <br>Preemptive preparation for the challenges of the future society
                                </strong>
                            </dd>
                        </dl> <!-- //psy -->
                    </div> <!-- //goal institutioin list -->
                </div> <!-- //grid -->
            </div> <!-- //기관별 교육목표 -->
            <div class="pt0 scrl-anchor sub-cmt-article lightgrey">
                <div class="grid1170 flex-box">
                    <div class="goal-psy-hd">
                        <div class="ani-txt">
                            <!-- 1027 label 수정 -->
                            <h3 class="ani-txt__el fw500 fs32__tit"><span class="txt-break">School of Psychology,</span> Korea University’s Curriculum<br><span class="fc__plum">characteristics
                            </span></h3>
                        </div>
                    </div>
                    <!-- 1027 label 수정 eng 클래스 추가 -->
                    <div class="goal-psy-cont eng">
                        <ul class="goal-psy-list">
                            <!-- 1027 label 수정 -->
                            <li class="ani-seq ani-fadein__up goal-psy-item">
                                <dl class="flex-box">
                                    <dt class="fw500 fs24__tit fc__plum">Flexibility</dt>
                                    <dd>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Learner-centered curriculum</p>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Segmentation and diversification of subjects</p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-psy-item">
                                <dl class="flex-box">
                                    <dt class="fw500 fs24__tit fc__plum">Professionalism</dt>
                                    <dd>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Curriculum focused on solving the problems of the future society</p>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Minimizing the gap between academic and practical skills</p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-psy-item">
                                <dl class="flex-box">
                                    <dt class="fw500 fs24__tit fc__plum">Connectivity</dt>
                                    <dd>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Reinforcement of the major, liberal arts and linkages with other departments</p>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Learning various psychological perspectives on a specific subject</p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-psy-item">
                                <dl class="flex-box">
                                    <dt class="fw500 fs24__tit fc__plum">Expandability</dt>
                                    <dd>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Convergence education hub with other academic fields</p>
                                        <p class="fs18__txt"><span class="fc__plum">•</span> Activation of dual, convergence, and majors designed for students</p>
                                    </dd>
                                </dl>
                            </li>
                            <!-- //1027 label 수정 -->
                        </ul>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //4가지 교육 목표 -->
            <div class="scrl-anchor sub-cmt-article goal-detail-article">
                <div class="grid1170">
                    <div class="goal-detail-hd">
                        <div class="ani-txt">
                            <!-- 1027 label 수정 -->
                            <h3 class="ani-txt__el fw500 fs32__tit">Korea University’s School of Psychology <br>awards a <span class="fc__plum">Bachelor of Arts </span>or a  <span class="fc__plum">Bachelor of Science depending </span>on the type of subject completed.</h3>
                        </div>
                    </div>
                    <div class="ani-fadein goal-detail-cont">
                        <figure>
                            <img src="../../content/images/education/goal-parallel-img.png" alt="[문학사] 인문사회학적 심리 교과 - 기초교과 : 어학, 철학, 인문사회 / [융합학문적 심리 교과] 핵심교양 : 공통 / [이학사] 자연과학적 심리 교과 - 기초교과 : 수학통계학, 생명과학, 공학" class="pc-show">
                            <img src="../../content/images/education/goal-parallel-img-mo.png" alt="[문학사] 인문사회학적 심리 교과 - 기초교과 : 어학, 철학, 인문사회 / [융합학문적 심리 교과] 핵심교양 : 공통 / [이학사] 자연과학적 심리 교과 - 기초교과 : 수학통계학, 생명과학, 공학" class="mo-show">
                        </figure>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //융합학문적 심리 교과 -->
            <div class="pt0 scrl-anchor sub-cmt-article goal-detail-article">
                <div class="grid1170">
                    <div class="goal-segment-box">
                        <div class="goal-detail-hd">
                            <div class="ani-txt">
                                <!-- 1027 label 수정 -->
                                <h3 class="ani-txt__el fw500 fs32__tit">Korea University’s School of Psychology<br><span class="fc__plum">has subdivided subjects in units of 1.5 credits.</span></h3>
                            </div>
                        </div>
                        <div class="ani-fadein goal-detail-cont">
                            <figure>
                                <img src="../../content/images/education/goal-segment-img.png" alt="3학점 학문분야중심 - 심리학전공자 배출 : 소비자심리학 (뉴미디어·윤리), 사회심리학 (판단·사회·정서), 사회신경과학 (Brain·Network) / 1.5학점 사회문제중심 - 혁신인재 육성 : Mind & Machine" class="pc-show">
                                <img src="../../content/images/education/goal-segment-img-mo.png" alt="3학점 학문분야중심 - 심리학전공자 배출 : 소비자심리학 (뉴미디어·윤리), 사회심리학 (판단·사회·정서), 사회신경과학 (Brain·Network) / 1.5학점 사회문제중심 - 혁신인재 육성 : Mind & Machine" class="mo-show">
                            </figure>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //교과 세분화 -->
            <div class="pt0 scrl-anchor sub-cmt-article goal-detail-article">
                <div class="grid1170">
                    <div class="goal-detail-hd">
                        <div class="ani-txt">
                            <!-- 1027 label 수정 -->
                            <h3 class="ani-txt__el fw500 fs32__tit">Korea University’s School of Psychology <br><span class="fc__plum">offers a subject-focused </span>curriculum consisting <span class="fc__plum">of five modules</span></h3>
                        </div>
                    </div>
                    <!-- 1027 label 수정 eng 클래스 추가 -->
                    <div class="goal-detail-cont eng">
                        <ul class="flex-box flex-spc__btw goal-module-list">
                            <li class="ani-seq ani-fadein__up goal-module-item">
                                <i class="ico"><img src="../../content/images/education/goal-module-ico-01.png" alt="Leadership & Link 아이콘"></i>
                                <strong class="fs22__tit fc__plum">Leadership &amp;<br> Link</strong>
                                <!-- 1027 label 수정 -->
                                <p class="fs18__txt">Department of <br>Psychology Management/<br>economics/ politics</p>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-module-item">
                                <i class="ico"><img src="../../content/images/education/goal-module-ico-02.png" alt="Mind & Machine 아이콘"></i>
                                <strong class="fs22__tit fc__plum">Mind &amp;<br> Machine</strong>
                                <!-- 1027 label 수정 -->
                                <p class="fs18__txt">Department of <br>Psychology
                                    Engineering
                                    </p>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-module-item">
                                <i class="ico"><img src="../../content/images/education/goal-module-ico-03.png" alt="Schema & Scale 아이콘"></i>
                                <strong class="fs22__tit fc__plum">Schema &amp;<br> Scale</strong>
                                <!-- 1027 label 수정 -->
                                <p class="fs18__txt">Department of <br>Psychology
                                    Data (methodology)
                                    </p>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-module-item">
                                <i class="ico"><img src="../../content/images/education/goal-module-ico-04.png" alt="Creativity & Culture 아이콘"></i>
                                <strong class="fs22__tit fc__plum">Creativity &amp;<br> Culture</strong>
                                <!-- 1027 label 수정 -->
                                <p class="fs18__txt">Department of <br>Psychology
                                    Culture/humanities/arts
                                    </p>
                            </li>
                            <li class="ani-seq ani-fadein__up goal-module-item">
                                <i class="ico"><img src="../../content/images/education/goal-module-ico-05.png" alt="Wisdom & Wisdom 아이콘"></i>
                                <strong class="fs22__tit fc__plum">Wisdom &amp;<br> Wisdom</strong>
                                <!-- 1027 label 수정 -->
                                <p class="fs18__txt">Department of <br>Psychology
                                    Health/education
                                    </p>
                            </li>
                        </ul>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //5개의 모듈 -->
            <button id="sclTopBtn"><span class="txt-hidden">페이지 최상단으로 이동하기</span></button>
        </section>
        <!-- //about END -->
        <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <!-- <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <a href="researchSubject.html" class="ft-menu__link">Subjects</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="ft-menu__link">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NOTICE</button>
                        <ul>
                            <li>
                                <a href="notice.html" class="ft-menu__link">Notice</a>
                            </li>
                            <!-- <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">
                                Old Building Room 109, Korea University Law Building, 145 Anam-ro, Seongbuk-gu, Seoul,<br>
                                02841, Republic of Korea 
                            </span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
        <script src="../../content/scripts/sub.js"></script>
    </body>
</html>