<!Doctype html>
<html lang="ko">

<head>
    <title>고려대학교 심리학부</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_zOoOe">
    <meta name="keywords" content="">
    <meta name="description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고려대학교 심리학부">
    <meta property="og:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="고려대학교 심리학부">
    <meta name="twitter:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">
    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
    <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
    <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
    <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500;700&display=swap" rel="stylesheet">

    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/main.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- notice banner START -->
    <div class="main-notice-bnr">
        <div class="grid1170">
            <a href="newsView.html" class="modal-notice-cont">
                <h3 class="fw400 txt-elp__multi main-notice-bnr__tit">2021학년도 신입생 온라인 입학식 참가 신청 안내</h3>
                <p class="fs16 txt-elp__multi main-notice-bnr__txt">2021학년도 신입생 입학식을 3월 2일(월)에 온라인으로 개최합니다.</p>
            </a>
            <button class="close-modal-btn"><span class="txt-hidden">공지 배너 닫기</span></button>
            <div class="form-chk">
                <input type="checkbox" id="hideMainNtcBnrToday">
                <label class="form-chk-label" for="hideMainNtcBnrToday">오늘 하루 보지 않기</label>
            </div>
        </div>
    </div>
    <!-- notice banner END -->
    <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <!-- <li>
                                <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchSubject.html" class="hd-nav-submenu">Subjects</a>
                            </li>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchLab.html" class="hd-nav-submenu">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NOTICE</a>
                        <!-- <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a> -->
                        <ul class="hd-nav-submenu-wrap">
                            <!-- <li>
                                <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                            </li> -->
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <!-- <li>
                                <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="hd-nav-submenu">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- 1025 label 수정 추가 -->
                    <li class="hd-nav-item lang-change">
                        <a href="javascript:void(0);" class="hd-nav-menu"><img src="../../content/images/common/lang-changes.png" alt="언어변경 아이콘"></a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 영문">EN</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="efw500 hd-nav-submenu" title="언어 한글">KR</a>
                            </li>
                        </ul>
                    </li>
                    <!-- //1025 label 수정 추가 -->
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
    <!-- main START -->
    <main>
        <div class="main-vsl">
            <div class="main-vsl-ytb__wrap">
                <div class="main-vsl-ytb__layer">
                    <div id="mainVslYtb"><span class="txt-hidden">고려대학교 심리학부 소개 영상</span></div>
                </div>
            </div>
            <div class="main-vsl-copy__wrap">
                <h2 class="main-vsl-copy eng">School of Psychology</h2>
                <span class="main-vsl-label pt30">Korea University</span>
                <!-- <span class="main-vsl-label">School of Psychology</span>
                <h2 class="main-vsl-copy eng">Korea University<br>School of Psychology</h2> -->
            </div>
            <ul class="flex-box flex-spc__end flex-align__btm main-vsl-btn__wrap">
                <li>
                    <a href="aboutKoreaPsychology.html" class="plum main-vsl-btn main-vsl-btn__line2 eng"><span
                            class="txt-break">School of</span> Psychology</a>
                </li>
                <li>
                    <!-- 1025 label 수정 -->
                    <a href="researchSubject.html" class="darkplum main-vsl-btn main-vsl-btn__line1 eng">Research</a>
                </li>
            </ul>
        </div> <!-- //main visual -->

        <!-- <div class="main-sect">
            <div class="grid1170">
                <h3 class="efw700 txt-cnt main-cmn-tit ani-fadein">RECENT NEWS</h3>
                <ul class="flex-box">
                    <li class="main-news-item ani-fadein__up">
                        <a href="newsView.html" class="main-news-link">
                            <div class="main-news-thumb"><img src="../../content/images/main/news-list-thumb-01.png"
                                    alt="최신 뉴스 썸네일 이미지"></div>
                            <div class="main-news-info">
                                <p class="txt-elp__multi main-news-info__tit">실험실습용 노트북 대여 (학부생용)</p>
                                <p class="txt-elp__multi main-news-info__txt">심리학과에서는 실험실습에 필요한 노트북 준비가 안된 학생을 위하여 노트북
                                    대여가 가능합니다.</p>
                            </div>
                        </a>
                    </li>
                    <li class="main-news-item ani-fadein__up">
                        <a href="newsView.html" class="main-news-link">
                            <div class="main-news-thumb"><img src="../../content/images/main/news-list-thumb-02.png"
                                    alt="최신 뉴스 썸네일 이미지"></div>
                            <div class="main-news-info">
                                <p class="txt-elp__multi main-news-info__tit">고려대학교 심리학부 4단계 BK 21 PLUS 사업 최종 선정</p>
                                <p class="txt-elp__multi main-news-info__txt">심리/아동 분야 전국단위는 유일하게 선정 되었습니다. 사업비 7년간
                                    (2020.9~2027.8) 46억5천만원 지원하여 사업비 50% 이상이 유치되었습니다.</p>
                            </div>
                        </a>
                    </li>
                    <li class="main-news-item ani-fadein__up">
                        <a href="newsView.html" class="main-news-link">
                            <div class="main-news-thumb"><img src="../../content/images/main/news-list-thumb-03.png"
                                    alt="최신 뉴스 썸네일 이미지"></div>
                            <div class="main-news-info">
                                <p class="txt-elp__multi main-news-info__tit">실험실습용 노트북 대여 (학부생용)</p>
                                <p class="txt-elp__multi main-news-info__txt">심리학과에서는 실험실습에 필요한 노트북 준비가 안된 학생을 위하여 노트북
                                    대여가 가능합니다.</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div> //grid
        </div>  -->
        <!-- //main recent news -->

        <div class="lightgrey main-sect">
            <div class="grid1170">
                <div class="flex-box">
                    <div class="main-event">
                        <h3 class="efw700 txt-cnt main-cmn-tit ani-fadein">UPCOMING EVENT</h3>
                        <ul class="flex-box">
                            <li class="main-event-item ani-fadein__up">
                                <a href="event.html" class="flex-box main-event-link">
                                    <div class="main-event-day">
                                        <span class="main-event-day__year">2021</span>
                                        <span class="main-event-day__date">08</span>
                                        <span class="main-event-day__month">OCT</span>
                                    </div>
                                    <div class="main-event-info">
                                        <p class="fw700 txt-elp__multi main-event-info__tit">심리학 공개강의 심리학 공개강의 심리학 공개강의
                                        </p>
                                        <span class="main-event-info__name">홍길동 교수님</span>
                                        <span class="main-event-info__time">All day</span>
                                    </div>
                                </a>
                            </li>
                            <li class="main-event-item ani-fadein__up">
                                <a href="event.html" class="flex-box main-event-link">
                                    <div class="main-event-day">
                                        <span class="main-event-day__year">2021</span>
                                        <span class="main-event-day__date">08</span>
                                        <span class="main-event-day__month">OCT</span>
                                    </div>
                                    <div class="main-event-info">
                                        <p class="fw700 txt-elp__multi main-event-info__tit">심리학 세미나</p>
                                        <span class="main-event-info__name">홍길동 교수님</span>
                                        <span class="main-event-info__time">3:00pm to 4:30pm</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="https://bk21four.nrf.re.kr/index.do" target="_blank" title="새 창 이동" class="main-archive">
                        <h3 class="main-cmn-tit ani-fadein">BK21</h3>
                        <div class="main-archive-link ani-fadein__up">
                            <img src="../../content/images/main/bk21-logo.png"
                                alt="PRESS - Psychological Research and Education for Sustainable Society">
                            <p class="fs16__txt">
                                <!-- 1025 label 수정 -->
                                The School of Psychology at Korea University of Psychology nurtures creative and convergent psychological scientists focused on solving real industrial and social problems. It also conducts research on “sustainability,” the most important issue in current society, through leading global research. Selected as BK21, it has recognized potential as a leading global psychological science education and research center.
                            </p>
                        </div>
                        <small>more</small>
                    </a>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //main Archive -->
        <div class="main-sect">
            <div class="flex-box flex-align__cnt main-promo">
                <div class="main-promo-movie ani-fadein">
                    <div class="cmn-movie-frame">
                        <a href="javascript:void(0);" title="고려대학교 심리학부 소개 영상 재생하기" class="cmn-movie-thumb"
                            id="mainPromoYtbThumb"><img src="../../content/images/main/promotion-movie-thumb.png"
                                alt="고려대학교 심리학부 소개 영상 썸네일 이미지"></a>
                        <div class="cmn-movie-player" id="mainPromoYtb"></div>
                    </div>
                </div>
                <div class="main-promo-info">
                    <h3 class="main-promo-info__tit ani-txt"><span class="ani-txt__el">Korea University Undergraduate
                            Psychology program Introduction video</span></h3>
                    <p class="main-promo-info__txt ani-fadein__up">Check out the video of Korea University launching
                        the<br>undergraduate psychology program for the first time in 2021.</p>
                    <a href="" class="efw500 main-promo-info__btn ani-fadein__up"><span class="label">more</span></a>
                    <img src="../../content/images/main/promotion-copyright.png" alt="PSYCHOLOGY"
                        class="main-promo-info__bg">
                </div>
            </div>
        </div> <!-- //main promotion -->
        <div class="main-sect">
            <div class="grid1170">
                <ul class="flex-box">
                    <li class="main-thumbmenu-item">
                        <h3 class="efw700 main-cmn-tit ani-fadein">EDUCATION</h3>
                        <a href="educationGoal.html" class="main-thumbmenu-link ani-fadein__up">
                            <div class="main-thumbmenu-thumb edu"><img
                                    src="../../content/images/main/thumbmenu-education-thumb.png"
                                    alt="education 메뉴 썸네일"></div>
                            <p class="main-thumbmenu-info">Check out the more specialized and expanded academic-centered
                                to social-centered Psychology curriculum of the School of Psychology at Korea
                                University.</p>
                        </a>
                    </li>
                    <li class="main-thumbmenu-item">
                        <h3 class="efw700 main-cmn-tit ani-fadein">RESEARCH</h3>
                        <a href="researchSubject.html" class="main-thumbmenu-link ani-fadein__up">
                            <div class="main-thumbmenu-thumb research"><img
                                    src="../../content/images/main/thumbmenu-research-thumb.png" alt="research 메뉴 썸네일">
                            </div>
                            <p class="main-thumbmenu-info">Based on five themes centered around professional
                                researchers, we are trying to diversify into specialized fields centered on social
                                issues.</p>
                        </a>
                    </li>
                    <li class="main-thumbmenu-item">
                        <h3 class="efw700 main-cmn-tit ani-fadein">CAREER</h3>
                        <a href="career.html" class="main-thumbmenu-link ani-fadein__up">
                            <div class="main-thumbmenu-thumb career"><img
                                    src="../../content/images/main/thumbmenu-career-thumb.png" alt="career 메뉴 썸네일">
                            </div>
                            <p class="main-thumbmenu-info">Psychology is an essential discipline that will help you a
                                lot in your career path. Cheil Worldwide Inc. Executive Vice President Seok-Hwan Kim
                                (Class of 96)</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- //main thumbnail menu -->
        <div class="pt30 main-sect">
            <div class="main-map ani-fadein">
                <div class="grid1170">
                    <img src="../../content/images/main/map-mo.png" alt="고려대학교 캠퍼스 지도" class="mo-show">
                    <div class="main-map-point">
                        <img src="../../content/images/main/map-point-ico.png" alt="고려대학교 심리학부 위치 표시 아이콘"
                            class="main-map-point__ico">
                        <span class="main-map-point__tit">고려대학교 심리학부</span>
                    </div>
                    <div class="main-map-info">
                        <div class="main-map-info__top">
                            <!-- 1025 label 수정 -->
                            <!-- <p class="main-map-info__txt">02841</p> -->
                            <p class="main-map-info__txt">
                                <!-- 1025 label 수정 -->
                                Old Building Room 109,<br>
                                Korea University Law Building, 145 Anam-ro, Seongbuk-gu, Seoul, 02841, Republic of Korea                                
                            </p>
                            <!-- <p class="main-map-info__txt">고려대학교 법학관 구관 205C호</p> -->
                        </div>
                        <div class="main-map-info__btm">
                            <p class="main-map-info__txt">Phone No : 02-3290-2060</p>
                            <p class="main-map-info__txt">Fax : 02-3290-2662</p>
                            <p class="main-map-info__txt">E-mail : lib007@korea.ac.kr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- //main map -->
    </main>
    <!-- //main END -->
    <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <!-- <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchSubject.html" class="ft-menu__link">Subjects</a>
                            </li>
                            <li>
                                <!-- 1025 label 수정 -->
                                <a href="researchLab.html" class="ft-menu__link">About the lab</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NOTICE</button>
                        <ul>
                            <li>
                                <a href="notice.html" class="ft-menu__link">Notice</a>
                            </li>
                            <!-- <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">
                                <!-- 1025 label 수정 -->
                                Old Building Room 109, Korea University Law Building, 145 Anam-ro, Seongbuk-gu, Seoul,<br>
                                02841, Republic of Korea 
                            </span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/main.js"></script>
</body>

</html>