<!Doctype html>
<html lang="ko">

<head>
    <title>연구주제(글보기) | RESEARCH | 고려대학교 심리학부</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_zOoOe">
    <meta name="keywords" content="">
    <meta name="description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고려대학교 심리학부">
    <meta property="og:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="고려대학교 심리학부">
    <meta name="twitter:description"
        content="심리학의 다학제적 기초를 토대로 인문학, 사회과학, 자연과학을 포괄하는 융합 교육 통해 미래사회의 도전과 새로운 문제들에 창의적으로 유연하게 접근할 수 있는 인재를 양성합니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.png">
    <link rel="apple-touch-ico" type="image/png" sizes="120x120" href="../../content/images/favicon-120.png">
    <link rel="apple-touch-ico" type="image/png" sizes="152x152" href="../../content/images/favicon-152.png">
    <link rel="apple-touch-ico" type="image/png" sizes="167x167" href="../../content/images/favicon-167.png">
    <link rel="apple-touch-ico" type="image/png" sizes="180x180" href="../../content/images/favicon-180.png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/research.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header START -->
    <header id="mainHd">
        <h1 class="hd-logo"><a href="index.html"><img src="../../content/images/common/logo-header.png"
                    alt="고려대학교 심리학부 로고 이미지"></a></h1>
        <nav class="hd-nav" aria-label="header-navigation">
            <div class="hd-nav-wrap">
                <ul class="flex-box flex-spc__end">
                    <li class="hd-nav-item">
                        <a href="aboutPsychology.html" class="hd-nav-menu">ABOUT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="aboutPsychology.html" class="hd-nav-submenu">Intro to Psychology</a>
                            </li>
                            <li>
                                <a href="aboutKoreaPsychology.html" class="hd-nav-submenu">
                                    <!-- 21 09 01 네이블 수정 Psychology
                                    Undergraduate program -> School of Psychology -->
                                    <span class="txt-break__mo">School of Psychology</span>
                                </a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="efw500 hd-nav-submenu">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="efw500 hd-nav-submenu">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="educationGoal.html" class="hd-nav-menu">EDUCATION</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="educationGoal.html.html" class="hd-nav-submenu">Objective</a>
                            </li>
                            <li>
                                <a href="career.html" class="efw500 hd-nav-submenu">Career</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="researchSubject.html" class="hd-nav-menu">RESEARCH</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="researchSubject.html" class="hd-nav-submenu">Research areas</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="hd-nav-submenu">Research center</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" title="새 창 이동"
                            class="hd-nav-menu">ADMISSIONS</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="hd-nav-submenu">Undergraduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="hd-nav-submenu">Graduate<img
                                        src="../../content/images/common/header-submenu-outlink-ico.png" alt="아웃링크 아이콘"
                                        class="ico"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hd-nav-item">
                        <a href="news.html" class="hd-nav-menu">NEWS&amp;EVENT</a>
                        <ul class="hd-nav-submenu-wrap">
                            <li>
                                <a href="news.html" class="efw500 hd-nav-submenu">News</a>
                            </li>
                            <li>
                                <a href="notice.html" class="efw500 hd-nav-submenu">Notice</a>
                            </li>
                            <li>
                                <a href="event.html" class="efw500 hd-nav-submenu">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="hd-nav-submenu">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="efw500 hd-nav-submenu hd-nav-submenu__last">FAQ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> <!-- //header nav -->
        <button class="full-nav-tgl-btn" onclick=""><span class="bar"></span><span class="txt-hidden">모바일 내비게이션
                버튼</span></button>
    </header>
    <!-- //header START -->
    <!-- research START -->
    <section id="researchSubt">
        <div class="sub-hd">
            <div class="grid1170">
                <span class="efw500 sub-hd-menu">RESEARCH</span>
                <h2 class="sub-hd-tit">Research topic</h2>
            </div> <!-- //grid -->
        </div> <!-- //sub header -->
        <div class="sub-cmt-article">
            <div class="grid1170">
                <div class="subt-view-hd">
                    <figure class="ani-img">
                        <h3 class="subt-view-hd-tit">Clinical & Counseling Psychology
                        </h3>
                    </figure>
                    <div class="ani-fadein__down subt-hd-view-info">
                        <h4 class="fw500 fs30__tit subt-hd-view-info__tit">Clinical & Counseling Psychology?
                        </h4>
                        <p class="fs18__txt subt-hd-view-info__txt">
                            <!-- 21 09 01 네이블 수정 -->
                            The Clinical and Counseling Psychology (CCP) program
                            at Korea University, the largest in Korea, provides systematic clinical and counseling
                            training and top-notch education and research. The CCP program offers advanced training
                            which integrates the scientist-practitioner model and the counseling psychology training
                            model. The CCP program at Korea University focuses on the following major areas for
                            education and research.
                        </p>
                    </div>
                </div> <!-- //연구주제 상세 내용 제목 -->
                <div class="scrl-anchor subt-view-cont">
                    <ul class="subt-view-list">
                        <li class="ani-seq ani-fadein__up subt-view-list-item">
                            <a href="aboutPeopleView.html" class="flex-box subt-view-list-link">
                                <div class="subt-view-list-thumb">
                                    <div class="subt-view-list-thumb__img"></div>
                                    <span class="fw500 fs15__txt subt-view-list-thumb__btn">more</span>
                                </div>
                                <dl class="subt-view-list-info">
                                    <dt>
                                        <p class="fw700 fs24__txt people-list-info__name">Young Gun Ko <small
                                                class="fw500 fs18__txt fc__plum">PhD</small></p>
                                    </dt>
                                    <dd>
                                        <p class="fs16__txt">As a positive clinical psychologist, I currently conduct
                                            research on the psychology of happiness, the psychology of love, 'happiness
                                            gamification,' which promotes happiness using game elements, and 'flourish,'
                                            which means the state of mental prosperity of humans. We are working on a
                                            task to develop AI-based digital psychotherapy using psychological
                                            diagnosis, which is one of the greatest strengths of clinical psychology.
                                        </p>
                                        <small>Digital Psychotherapy & AI, Psychology of Happiness, Psychology of Love,
                                            Psychological Testing, Psychodiagnosis
                                        </small>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li class="ani-seq ani-fadein__up subt-view-list-item">
                            <a href="aboutPeopleView.html" class="flex-box subt-view-list-link">
                                <div class="subt-view-list-thumb">
                                    <div class="subt-view-list-thumb__img"></div>
                                    <span class="fw500 fs15__txt subt-view-list-thumb__btn">more</span>
                                </div>
                                <dl class="subt-view-list-info">
                                    <dt>
                                        <p class="fw700 fs24__txt people-list-info__name">Eun Joo Yang <small
                                                class="fw500 fs18__txt fc__plum">PhD
                                            </small></p>
                                    </dt>
                                    <dd>
                                        <p class="fs16__txt">
                                            <!-- 21 09 01 네이블 수정 -->
                                            Career is one of the most important areas in the human experience. It is a
                                            matter of how an individual designs one’s life, rather than just finding a
                                            job. From the perspective of life-span development, we study career
                                            development with an emphasis on the intersections of individual differences,
                                            contextual influences, and developmental stages. The particular research
                                            topics include the career development trajectories and adaptability in the
                                            modern society characterized by increased uncertainty and the roles of
                                            cultural background and minority identity on career development, 
                                        </p>
                                        <small>Counseling Psychology, Career Development, Multiculturalism
                                        </small>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li class="ani-seq ani-fadein__up subt-view-list-item">
                            <a href="aboutPeopleView.html" class="flex-box subt-view-list-link">
                                <div class="subt-view-list-thumb">
                                    <div class="subt-view-list-thumb__img"></div>
                                    <span class="fw500 fs15__txt subt-view-list-thumb__btn">more</span>
                                </div>
                                <dl class="subt-view-list-info">
                                    <dt>
                                        <p class="fw700 fs24__txt people-list-info__name">Ki Hong Choi <small
                                                class="fw500 fs18__txt fc__plum">Associate Professor</small></p>
                                    </dt>
                                    <dd>
                                        <p class="fs16__txt">Evidence-based psychotherapy and psychosocial
                                            rehabilitation are developed, and effectiveness is studied. We are
                                            developing psychological evaluation tools for the Korean population, and
                                            developing and distributing in-person and non-face-to-face psychological
                                            service platforms. We developed a face-to-face/non-face-to-face hybrid
                                            technology that combines ICT technology and machine learning technology with
                                            psychological services, and provide services to public institutions and
                                            industries.
                                        </p>
                                        <small>Severe mental illness, personality assessment, psychotherapy outcome
                                            trials, development of psychological assessment, ICT based psychological
                                            service development
                                        </small>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li class="ani-seq ani-fadein__up subt-view-list-item">
                            <a href="aboutPeopleView.html" class="flex-box subt-view-list-link">
                                <div class="subt-view-list-thumb">
                                    <div class="subt-view-list-thumb__img"></div>
                                    <span class="fw500 fs15__txt subt-view-list-thumb__btn">more</span>
                                </div>
                                <dl class="subt-view-list-info">
                                    <dt>
                                        <p class="fw700 fs24__txt people-list-info__name">Ji-Won Hur <small
                                                class="fw500 fs18__txt fc__plum">Assistant Professor</small></p>
                                    </dt>
                                    <dd>
                                        <p class="fs16__txt">Focusing on emotional processing and social cognitive
                                            function, we are exploring the pathology of depression, suicide, and
                                            self-injury without suicidal intention through surveys, behavioral
                                            experiments, and brain imaging research, and we continue to develop and
                                            demonstrate digital therapeutics related to this. We are also conducting
                                            research on the link between poverty and mental health.
                                        </p>
                                        <small>Psychopathology, Psychotherapy, Digital Therapeutics, NSSI, Poverty
                                        </small>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div> <!-- //전공 교수 리스트 -->
                <div class="paging-btn-wrap">
                    <a href="researchSubject.html" class="fs16__txt paging-btn"><span class="label">List</span></a>
                </div>
            </div>
        </div> <!-- //연구주제  -->
        <button id="sclTopBtn"><span class="txt-hidden">페이지 최상단으로 이동하기</span></button>
    </section>
    <!-- //research END -->
    <!-- footer START -->
    <footer>
        <nav class="ft-nav" aria-label="footer-navigation">
            <div class="grid1170">
                <ul class="flex-box ft-menu-list">
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ABOUT</button>
                        <ul>
                            <li>
                                <a href="aboutPsychology.html" class="ft-menu__link">Intro to Psychology</a>
                            </li>
                            <li>
                                <!-- 21 09 01 네이블 수정 Psychology
                                    Undergraduate program -> School of Psychology -->
                                <a href="aboutKoreaPsychology.html" class="ft-menu__link">School of Psychology</a>
                            </li>
                            <li>
                                <a href="aboutPeople.html" class="ft-menu__link">People</a>
                            </li>
                            <li>
                                <a href="contact.html" class="ft-menu__link">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">EDUCATION</button>
                        <ul>
                            <li>
                                <a href="educationGoal.html" class="ft-menu__link">Objective</a>
                            </li>
                            <li>
                                <a href="career.html" class="ft-menu__link">Career</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">RESEARCH</button>
                        <ul>
                            <li>
                                <a href="researchSubject.html" class="ft-menu__link">Research areas</a>
                            </li>
                            <li>
                                <a href="researchLab.html" class="ft-menu__link">Research center</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">ADMISSIONS</button>
                        <ul>
                            <li>
                                <a href="https://oku.korea.ac.kr/oku/cms/FR_CON/index.do?MENU_ID=770" target="_blank"
                                    title="새 창 이동" class="ft-menu__link">Undergraduate</a>
                            </li>
                            <li>
                                <a href="https://graduate.korea.ac.kr/grad/matriculate/foreigner.do?_ga=2.195041764.975640527.1605506985-62816748.1605506985"
                                    target="_blank" title="새 창 이동" class="ft-menu__link">Graduate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-menu">
                        <button class="ft-menu__tit">NEWS&amp;EVENT</button>
                        <ul>
                            <li>
                                <a href="news.html" class="ft-menu__link">News</a>
                            </li>
                            <li>
                                <a href="event.html" class="ft-menu__link">Event</a>
                            </li>
                            <li>
                                <a href="archive.html" class="ft-menu__link">Archives</a>
                            </li>
                            <li>
                                <a href="faq.html" class="ft-menu__link">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ft-sns-menu">
                        <strong class="ft-sns-menu__tit">SNS</strong>
                        <ul>
                            <li>
                                <a href="" target="_blank" title="새 창 이동" class="ft-sns-menu__link"><img
                                        src="../../content/images/common/footer-sns-youtube.png" alt="유튜브 아이콘"
                                        class="ft-sns-menu__ico">youtube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </nav> <!-- //footer navigation -->
        <div class="ft-info">
            <div class="grid1170">
                <div class="flex-box flex-spc__btw ft-info-wrap">
                    <div class="ft-info-wrap__lt">
                        <img src="../../content/images/common/logo-footer.png" alt="고려대학교 심리학부 로고" class="ft-logo">
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">Korea University</span>
                        </p>
                        <p class="ft-info-txt__row">
                            <span class="ft-info-txt">02841 Room No 109, Old Building,
                                Korea University Law School,<br>
                                145 Anam-ro, Seongbuk-gu, Seoul</span>
                            <span class="ft-info-txt">Phone No : 02-3290-2060</span>
                        </p>
                        <p class="copyright">
                            <span class="ft-info-txt">Korea University Department Psychology. All Rights
                                Reserved.</span>
                        </p>
                    </div>
                    <div class="ft-info-wrap__rt">
                        <a href="privacy.html" class="ft-info-btn">Privacy Policy</a>
                        <select class="familysite" title="고려대학교 심리학부 패밀리 사이트"
                            onchange="window.open(this.value, '_blank')">
                            <option value="javascript:void(0);" class="efw500">Family site</option>
                            <option value="http://www.korea.ac.kr">고려대학교</option>
                            <option value="https://oku.korea.ac.kr/oku/index.do">고려대학교 인재발굴처</option>
                        </select>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //footer information -->
    </footer>
    <!-- //footer END -->
    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/sub.js"></script>
</body>

</html>